body {
	text-align: center;
}
#levo,
#desno {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	text-align: left;
}
img {
	max-width: 100%;
}
table{
	position: relative;
	width: 600px;
	float: right;
}
.prikazi 
{
	position: absolute;
	top: 0;
	left: 0;
	width = 100%;
}
#dugmici img{
	height: 25px;
}
